[Unit]
Description=Shiftgen backend service

[Service]
WorkingDirectory=/home/jvmapps/shiftgen
ExecStart=/bin/java -Xms128m -Xmx256m -jar shiftgen-backend-all.jar
User=jvmapps
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target